@{
    ViewData["Title"] = "Home Page";
}



<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
    <!-- ========================================== SECTION – HERO ========================================= -->
    <!-- ========================================= SECTION – HERO : END ========================================= -->
    <!-- ============================================== WIDE PRODUCTS ============================================== -->
    <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="/images/banners/home-banner1.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->
            <div class="col-md-5 col-sm-5">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="/images/banners/home-banner2.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.wide-banners -->
    <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
    <!-- ============================================== SCROLL TABS ============================================== -->
   

    @await Component.InvokeAsync("Newproducts")



    <!-- /.scroll-tabs -->
    <!-- ============================================== SCROLL TABS : END ============================================== -->
    <!-- ============================================== FEATURED PRODUCTS ============================================== -->
  
       @await Component.InvokeAsync("FeaturedProduct")

    <!-- /.section -->
    <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
    <!-- ============================================== WIDE PRODUCTS ============================================== -->
    <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">
            <div class="col-md-12">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="/images/banners/home-banner.jpg" alt=""> </div>
                    <div class="strip strip-text">
                        <div class="strip-inner">
                            <h2 class="text-right">
                                New Mens Fashion<br>
                                <span class="shopping-needs">Save up to 40% off</span>
                            </h2>
                        </div>
                    </div>
                    <div class="new-label">
                        <div class="text">NEW</div>
                    </div>
                    <!-- /.new-label -->
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.wide-banners -->
    <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
    <!-- ============================================== BEST SELLER ============================================== -->

    <!-- /.sidebar-widget -->
    <!-- ============================================== BEST SELLER : END ============================================== -->
    <!-- ============================================== BLOG SLIDER ============================================== -->
    @await Component.InvokeAsync("LastPosts")
    <!-- /.section -->
    <!-- ============================================== BLOG SLIDER : END ============================================== -->
    
</div>