@model List<NavbarViewModel>


<div class="header-nav animate-dropdown">
    <div class="container">
        <div class="yamm navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>
            <div class="nav-bg-class">
                <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                    <div class="nav-outer">
                        <ul class="nav navbar-nav" style="float:right;direction:rtl;text-align:right">

                            @foreach (var item in Model)
                            {
                                <li class="dropdown yamm mega-menu">
                                    <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">@item.Text</a>
                                    @if (item.Groups.Count != 0)
                                    {
                                        <ul class="dropdown-menu container" style="direction: rtl;text-align: right;">

                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        @foreach (var subitem in item.Groups)
                                                        {
                                                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                                <h2 class="title">@subitem.Text</h2>
                                                            </div>
                                                        }
                                                        <!-- /.col -->
                                                        <div style="margin:0px;padding:0px;"  class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="/images/banners/top-menu-banner.jpg" alt=""> </div>
                                                        <!-- /.yamm-content -->
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    }

                                </li>
                            }

                            <li class="active dropdown yamm-fw"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">خانه</a> </li>

                        </ul>
                        <!-- /.navbar-nav -->


                        <div class="clearfix"></div>
                    </div>
                    <!-- /.nav-outer -->
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.nav-bg-class -->
        </div>
        <!-- /.navbar-default -->
    </div>
    <!-- /.container-class -->

</div>