


<div class="search-area">

    <form method="get" asp-route="NameProductSearch" >
        <div class="control-group">
            <input  id="name" name="name" class="search-field" placeholder="Search here..."  />
            <button value="ثبت" class="search-button" />
        </div>
    </form>
</div>